.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/* App.css */

/* App.css */

/* Navbar.css */





/* Navbar.css */



/* //cards slider */

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  /* position: relative; */
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
}
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  height: 5%;
  opacity: 0.5;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

/* Room */
.card-img {
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.card-title, .card-text {
  margin-bottom: 0.5rem;
}


/* navbar */
.offcanvas-body {
  overflow-y: auto;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #6c63ff;
  border-color: #6c63ff;
}

.btn-primary:hover {
  background-color: #5753c9;
  border-color: #5753c9;
}

.offcanvas-title {
  font-size: 1.5rem;
}

ul {
  padding-left: 20px;
}



.custom-navbar {
  background-color: #ffffff;
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.close-icon {
  font-size: 2rem;
}

.book-button {
  background-color: #6c63ff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
}

.book-button:hover {
  background-color: #5753c9;
}

.offcanvas-body ul {
  list-style-type: none;
  padding-left: 0;
}

.offcanvas-body ul li {
  margin-bottom: 0.5rem;
}


/* Rooms */

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.custom-carousel .carousel-item {
    position: relative;
    height: 100vh;
}









